.main-app-container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  padding-left: 250px; /* Prevent overlap */
  background-color: #f5f5f5;
}

/* Sidebar */
.sidebar {
  background-color: #9e2d2d !important;
  min-width: 250px;
  height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  padding: 18px 16px;
  z-index: 1000;
  overflow: hidden;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    position: relative;
    height: auto;
    width: 100%;
    min-width: 0;
  }

  .main-app-container {
    padding-left: 0;
  }
}

/* Logo */
.sidebar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.logo-image {
  width: 145px;
  height: 145px;
  object-fit: cover;
  border-radius: 50%;
}

.logo-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}

/* Menu */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
  flex-grow: 1;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 550;
  font-size: 14px;
  padding: 12px 12px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  transform-origin: left right;
  margin-bottom: 5px;
}

/* Hover & Active */
.sidebar-menu a:hover,
.sidebar-menu a.active {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  transform: scale(1.1);
  font-weight: 700;
}

/* Icon */
.sidebar-icon {
  font-size: 16px;
  color: white;
}

/* Footer */
.sidebar-footer {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

/* Logout Button */
.logout-btn {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  transform-origin: left right;
  margin-bottom: 10px;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  transform: scale(1.05);
  font-weight: 700;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 30px;
}
